<!-- <input type="text" [(ngModel)]="name">
<p>{{name}}</p> -->
<div class="container">
    <div class="row">
        <div class="col0-xs-12">
            <h1>This is App-Component</h1>
            <hr>
            <app-servers></app-servers> <!--//used when normal selector defined-->
            <!-- <div app-servers></div> --> <!--//used when selector attribute is defined-->
            <!-- <div clas='.app-servers'></div> --> <!--//used when selector class is defined-->
            <app-success-alert></app-success-alert>
            <app-warning-alert></app-warning-alert>
        </div>
    </div>
</div>